.container-fluid {
  text-align: center;
}
.weather {
  text-align: left;
  border: 1px solid black;
  padding: 1rem;
}
.forecast {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: 1rem;
}
.forecast div {
  background-color: antiquewhite;
  border: 1px solid black;
}
.searchbar {
  margin: 0.5rem auto;
}
.weather-search {
  width: 100%;
}
.btn {
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  display: block;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.75rem;
}
.btn:hover {
  background-color: antiquewhite;
}
.searchBtn {
  width: 100%;
  background-color: grey;
  color: white;
}
.form {
  margin: 1rem auto;
}
.smallLine {
  height: 1px;
  width: 100%;
  background-color: black;
}
